html,
body {
    /* overflow-x: hidden;  Prevent scroll on narrow devices */
    height: 100%;
    background: rgb(43, 43, 43) url(../images/bodypattern.jpg) left top repeat;
    position: relative;
}

.line-divider {
    border-bottom: 1px solid #FFF;
    box-shadow: 0px -1px 0px rgba(82, 82, 82, 0.36) inset;
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    box-shadow: inset 0 -1px 0 rgb(28, 30, 34);
}

.line-above {
    border-top: 1px solid rgb(28, 30, 34);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

hr {
    margin: 5px 0;
}

.link {
    cursor: pointer;
}

.link-underline {
    text-decoration: underline;
    font-size: 12px;
    color: #c8c8c8;
}

    .link-underline:hover {
        text-decoration: none;
        color: #f5f5f5;
    }

.logo {
    text-align: center;
    padding: 15px 0;
}

    .logo img {
        width: 100%;
    }

.navLeft {
    width: 40px;
}

.navbarTop {
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 1px;
}

.sidebar {
    height: 100%;
    box-shadow: 2px 0 5px #000;
    border-radius: 0;
    border-width: 0;
}

.sidebar-offcanvas {
    position: fixed;
    top: 0;
    /*width: 15%; 3 columns */
    width: 120px;
    z-index: 1031;
    background-color: rgb(82, 82, 82);
}

.sidenavlist div {
    position: fixed;
    overflow-y: scroll;
    height: 65%;
}

.sidenavlist i.fa, .sidenavlist span.glyphicon {
    font-size: 45px;
    color: #666;
}

.sidenavlist span.badge {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgb(140, 213, 255);
    box-shadow: 0px 0px 5px rgb(34, 34, 34);
    color: rgb(39, 39, 39) !important;
    border-radius: 0 !important;
}

.sidenavlist span.spacer {
    padding: 65px 0;
}

.sidenavlist span {
    display: block;
}

.sidenavlist.list-group {
    box-shadow: none;
    max-height: 100%;
    position: fixed;
    overflow-y: auto;
    width: 120px;
}

.sidenavlist > .list-group-item {
    background: transparent;
    border-width: 1px 0 1px 4px;
    border-radius: 0px;
    color: #f6f6f6;
    text-align: center;
    border-left-color: transparent;
    border-top-color: #626262;
    border-bottom-color: rgb(34, 34, 34);
    border-left: 4px solid #3c4146;
    padding-left: 2px;
    padding-right: 2px;
    /*box-shadow: 0px 1px 0px rgb(34, 34, 34);*/
}

    .sidenavlist > .list-group-item.btnNewIncident {
        background: transparent;
        border-width: 1px 0 1px 4px;
        border-radius: 0px;
        color: #f6f6f6;
        text-align: center;
        border-left-color: transparent;
        border-top-color: #626262;
        border-bottom-color: rgb(34, 34, 34);
        /*box-shadow: 0px 1px 0px rgb(34, 34, 34);*/
        background: url(../images/iconWarningGry.svg) center 10px no-repeat;
        background-size: auto 40px;
    }

    .sidenavlist > .list-group-item.btnResource {
        background: transparent;
        border-width: 1px 0 1px 4px;
        border-radius: 0px;
        color: #f6f6f6;
        text-align: center;
        border-left-color: transparent;
        border-top-color: #626262;
        border-bottom-color: rgb(34, 34, 34);
        /*box-shadow: 0px 1px 0px rgb(34, 34, 34);*/
        background: url(../images/iconAmbulance.svg) center 10px no-repeat;
        background-size: auto 40px;
    }

    .sidenavlist > .list-group-item.btnIncidentList {
        background: transparent;
        border-width: 1px 0 1px 4px;
        border-radius: 0px;
        color: #f6f6f6;
        text-align: center;
        border-left-color: transparent;
        border-top-color: #626262;
        border-bottom-color: rgb(34, 34, 34);
        /*box-shadow: 0px 1px 0px rgb(34, 34, 34);*/
        background: url(../images/iconListGry.svg) center 10px no-repeat;
        background-size: auto 40px;
    }

    .sidenavlist > .list-group-item.btnScanner {
        background: transparent;
        border-width: 1px 0 1px 4px;
        border-radius: 0px;
        color: #f6f6f6;
        text-align: center;
        border-left-color: transparent;
        border-top-color: #626262;
        border-bottom-color: rgb(34, 34, 34);
        /*box-shadow: 0px 1px 0px rgb(34, 34, 34);*/
        background: url(../images/iconScannerGry.svg) center 10px no-repeat;
        background-size: auto 40px;
    }

        .sidenavlist > .list-group-item.btnResource img, .sidenavlist > .list-group-item.btnNewIncident img, .sidenavlist > .list-group-item.btnIncidentList img, .sidenavlist > .list-group-item.btnScanner img {
            height: 45px;
            opacity: 0;
        }





    .sidenavlist > .list-group-item:hover, .sidenavlist > .list-group-item:focus, .sidenavlist > .active, a.list-group-item.active {
        background: rgb(39, 39, 39);
        color: #f6f6f6;
        border-left: 4px solid #8CD5FF;
    }

        .sidenavlist > .list-group-item:hover span, .sidenavlist > .list-group-item:focus span, .sidenavlist > .active span {
            color: #8CD5FF;
        }

.sidenavlist > .btn-settings, .sidenavlist > .btn-settings:hover {
    background: #8CD5FF !important;
    color: #0E3E86 !important;
    padding: 20px 15px;
    border-left: 4px solid #8CD5FF;
}

    .sidenavlist > .btn-settings i.fa {
        color: #0E3E86 !important;
    }

.sidenavlist > .list-group-item.btnNewIncident:hover, .sidenavlist > .list-group-item.btnNewIncident:focus, .sidenavlist > .list-group-item.btnNewIncident.active {
    color: #f6f6f6;
    background: rgb(39, 39, 39) url(../images/iconWarningWhite.svg) center 10px no-repeat;
    background-size: auto 40px;
}

.sidenavlist > .list-group-item.btnResource:hover, .sidenavlist > .list-group-item.btnResource:focus, .sidenavlist > .list-group-item.btnResource.active {
    color: #f6f6f6;
    background: rgb(39, 39, 39) url(../images/iconAmbulanceWhite.svg) center 10px no-repeat;
    background-size: auto 40px;
}

.sidenavlist > .list-group-item.btnIncidentList:hover, .sidenavlist > .list-group-item.btnIncidentList:focus, .sidenavlist > .list-group-item.btnIncidentList.active {
    color: #f6f6f6;
    background: rgb(39, 39, 39) url(../images/iconListWhite.svg) center 10px no-repeat;
    background-size: auto 40px;
}

.sidenavlist > .list-group-item.btnScanner:hover, .sidenavlist > .list-group-item.btnScanner:focus, .sidenavlist > .list-group-item.btnScanner.active {
    color: #f6f6f6;
    background: rgb(39, 39, 39) url(../images/iconScannerWhite.svg) center 10px no-repeat;
    background-size: auto 40px;
}

.sidenavlist > .list-group-item:hover, .sidenavlist > .list-group-item:hover span.glyphicon, .sidenavlist > .list-group-item:hover i.fa, .sidenavlist > .active i.fa {
    color: #f6f6f6;
}

.navbar-inverse {
    background-color: rgb(82,82,82);
    border-radius: 0;
    border-width: 0;
}

    .navbar-inverse .navbar-brand {
        color: rgb(255, 255, 255);
    }

    .navbar-inverse .navbar-nav > li > a {
        color: rgb(255, 255, 255);
    }

.panel-heading h4 {
    margin: 5px 0;
}

.beacon-panel {
    padding-bottom: 5px;
    padding-top: 5px;
}

.btn-details {
    margin-top: 5px;
}

.breadcrumb {
    padding: 10px;
    margin: 0;
    background-color: transparent;
}

.form-actions {
    border-top: 1px solid rgb(204, 204, 204);
    padding-top: 10px;
    text-align: center;
}

.dataCenterNo {
    display: block;
    font-size: 13px;
    min-width: 160px;
    padding: 3px;
    -moz-padding: 0 5px 5px;
    -webkit-padding: 5px;
    width: auto;
}

.dataCenterName {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

    .dataCenterName ul {
        min-height: 300px;
        height: auto;
        overflow: auto;
    }

.userNamePleaceholder {
    padding: 5px;
    font-size: 13px;
    color: #fff;
}

.btn-datacenter {
    margin-top: 5px;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
}

.btn-changes {
    background-color: #C9C8C8;
    border: 1px solid #b7b7b7;
    color: #5B7CA8;
    border-radius: 0;
    font-weight: bold;
}

.alertTitle {
    padding: 5px;
    margin: -3px -12px !important;
    background: rgba(222,26,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(222,26,0,1) 0%, rgba(152,33,33,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(222,26,0,1)), color-stop(100%, rgba(152,33,33,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(222,26,0,1) 0%, rgba(152,33,33,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(222,26,0,1) 0%, rgba(152,33,33,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(222,26,0,1) 0%, rgba(152,33,33,1) 100%);
    background: radial-gradient(ellipse at center, rgba(222,26,0,1) 0%, rgba(152,33,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1a00', endColorstr='#982121', GradientType=1 );
}

.topSubNavContainer {
    background-color: #808080;
    padding-bottom: 5px;
}
.nav-links-logout {
    margin-bottom:0;
    margin-right:5px;
}
.nav-links-logout li {
    display: inline-block;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom:12px;
    padding-left:5px;
    border-left:1px inset rgba(214, 213, 213, 0.67);
}

    .nav-links-logout li:first-child {
        padding-right: 8px;
    }

    .nav-links-logout li a {
        color: #fff;
    }

        .nav-links-logout li a.btn-logout {
            color: #8cd5ff;
            text-decoration: underline;
        }

.tab-pane {
    /*background-color: rgb(62, 68, 76);*/
    border: 0px solid rgb(28, 30, 34);
    border-top-width: 0;
    padding: 10px;
}

.welcome-text {
    /*font-size: 14px;*/
    margin-bottom: 40px;
    color: #eee;
}

.overlayInactive {
    display: none;
}
/*
* Off Canvas
* --------------------------------------------------
* Greater thav 768px shows the menu by default and also flips the semantics
* The issue is to show menu for large screens and to hide for small
* Also need to do something clever to turn off the tabs for when the navigation is hidden
* Otherwise keyboard users cannot find the focus point
* (For now I will ignore that for mobile users and also not worry about
* screen re-sizing popping the menu out.)
*/
@media screen and (min-width: 768px) {
    .content {
        margin-top: 100px;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
        height: 100%;
    }

    .row-offcanvas-right {
        right: 25%;
    }

    .row-offcanvas-left {
        left: 120px;
        width: calc(100% - 120px);
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -25%; /* 3 columns */
        background-color: rgb(255, 255, 255);
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: 0px;
        background-color: rgb(82, 82, 82);
        width: 120px;
    }

    .row-offcanvas-right.active {
        right: 0; /* 3 columns */
    }

    .row-offcanvas-left.active {
        left: 0; /* 3 columns */
        width: 100%;
    }

    .row-offcanvas-right.active .sidebar-offcanvas {
        background-color: rgb(254, 254, 254);
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        background-color: rgb(82, 82, 82);
        left: -130px;
    }

        .row-offcanvas-left.active .sidebar-offcanvas .menu-icon {
            right: -224px;
        }

    .row-offcanvas .content {
        width: 100%; /*91.66666667% or 11 columns */
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas.active .content {
        width: 100%; /* 12 columns */
    }

    .navButtonArrow {
        position: relative;
        left: 120px;
    }

    i.icon.icon-info.resConfirmed {
        width: 24px;
        height: 18px;
    }
}

@media screen and (max-width: 767px) {
    html, body {
        /*overflow-x:hidden;*/
    }

    .content {
        margin-top: 100px;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -130px;
        background-color: rgb(82, 82, 82);
        width: 120px;
    }
    /*.row-offcanvas-left .sidebar-offcanvas {
left: -130px;  6 columns 
}*/

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 120px; /* 6 columns */
    }

    .row-offcanvas-right.active .sidebar-offcanvas {
        background-color: rgb(254, 254, 254);
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        background-color: rgb(82, 82, 82);
        left: 0px;
    }

        .row-offcanvas-left.active .sidebar-offcanvas .menu-icon {
            right: -214px;
        }

    .row-offcanvas-left .sidebar-offcanvas .menu-icon {
        right: -224px;
    }

    .row-offcanvas.active .content {
        width: 100%; /* 12 columns */
    }

    .sidebar-offcanvas {
        position: fixed;
        top: 0;
        width: 120px; /* 6 columns */
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: rgb(16, 16, 16);
        width: 100%;
        background: rgb(41, 117, 173);
    }

        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form ul li:hover {
            background: rgb(52, 139, 203);
        }

    .navButtonArrow {
        position: relative;
        left: 120px;
    }

    .checkbox label {
        line-height: 20px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.5);
    }

    .hide-on-sm {
        display: none;
    }

    .dataCenterNo {
        padding: 0 3px;
    }

    i.icon.icon-info.resConfirmed {
        width: 24px;
        height: 18px;
    }
}


@media screen and (min-width: 1024px) {
    .content {
        margin-top: 60px;
    }

    i.icon.icon-info.resConfirmed {
        width: 38px;
        height: 28px;
    }
}

label {
    white-space: nowrap;
}

.login-container {
    margin: 0 auto;
    padding: 20px 0; /*3% 20px 0;*/
    min-height: 100%;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(42,42,42,0.67) 30%, rgba(42,42,42,1) 45%, rgba(42,42,42,1) 55%, rgba(42,42,42,0.67) 70%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(42,42,42,0.67) 30%,rgba(42,42,42,1) 45%,rgba(42,42,42,1) 55%,rgba(42,42,42,0.67) 70%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(42,42,42,0.67) 30%,rgba(42,42,42,1) 45%,rgba(42,42,42,1) 55%,rgba(42,42,42,0.67) 70%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.login-container {
    color: #eee;
}

.transparent {
    border-width: 0;
    background-color: transparent;
    background: transparent;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.menu-icon {
    position: absolute;
    right: -216px;
    top: 15px;
    color: rgb(255, 255, 255);
}

.resource-tabs {
    width: 100%;
    display: table;
}

    .resource-tabs li {
        /*float: none;*/
        display: inline-block;
        width: 20%;
        background: #525252;
    }

        .resource-tabs li a {
            text-align: center;
        }

            .resource-tabs li a i {
                font-size: 24px;
            }

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background: rgb(38, 154, 188) !important;
    border-width: 0;
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background: lightgreen !important;
    border-width: 0;
}

.btn-actions {
    margin: 10px 0;
}

.line-below {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.addConfListLinks a {
    display: block;
    padding: 5px;
    text-decoration: underline;
}

.margin0 {
    margin: 0;
}

.marginBottom0 {
    margin-bottom: 0;
}

.margin5 {
    margin: 5px;
}

.marginBottom5 {
    margin-bottom: 5px;
}

.margin10 {
    margin: 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginBottom10 {
    margin-bottom: 10px;
}


/* Time Line CSS */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 1px;
        /*background-color: #f6f6f6;*/
        left: 50%;
        margin-left: -0.5px;
        background: #ccc /*url('../images/ic_adjust_white_24px.svg') no-repeat top center*/;
    }

    .timeline li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline li:before,
        .timeline li:after {
            content: " ";
            display: table;
        }

        .timeline li:after {
            clear: both;
        }

        .timeline li:before,
        .timeline li:after {
            content: " ";
            display: table;
        }

        .timeline li:after {
            clear: both;
        }

        .timeline li > .timeline-panel {
            width: 46%;
            float: left;
            border: 2px solid rgb(91, 192, 222);
            border-radius: 10px;
            padding: 15px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            background-color: #DFE4EA;
        }

            .timeline li > .timeline-panel:before {
                position: absolute;
                top: 10px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid rgb(91, 192, 222);
                border-right: 0 solid rgb(236, 239, 0);
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline li > .timeline-panel:after {
                position: absolute;
                top: 10px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid rgb(91, 192, 222);
                border-right: 0 solid rgb(91, 192, 222);
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 2em;
            text-align: center;
            position: absolute;
            /*top: 16px;*/
            left: 50%;
            margin-left: -25px;
            background-color: transparent;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline li.timeline-inverted > .timeline-panel {
            float: right;
            border: 1px solid #ecef00;
            background: #f7f7e9;
        }

            .timeline li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
                z-index:9;
            }

            .timeline li.timeline-inverted > .timeline-panel:after {
                border-left: 14px solid rgb(248, 148, 6);
                border-right: 0 solid rgb(248, 148, 6);
            }

            .timeline li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }


/* responsive text queries */
@media screen and (max-width: 992px) {
    h3, .h3 {
        margin-top: 8px;
    }

    p, .btn, input, div, span, h4 {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    i.fa.pull-left.icon {
        width: 23px;
        height: 18px;
    }
}

@media screen and (max-width: 768px) {
    h3, .h3 {
        margin-top: 7px;
    }

    p, .btn, input, div, span, h4, h5 {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    i.fa.pull-left.icon {
        width: 20px;
        height: 17px;
    }

    .timeline li > .timeline-panel p, .timeline li > .timeline-panel div, .timeline li > .timeline-panel span {
        font-size: 10px !important;
    }

    .timeline li > .timeline-panel {
        padding: 4px;
    }



    /*New CSS fix as per Original Spec*/
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    
    padding-left: 10px;
    padding-right: 10px;
    }
    .sidenavlist.list-group {
    box-shadow: none;
    max-height: 100%;
    position: fixed;
    overflow-y: auto;
    width: 125px;
}
}

.checkbox label {
    line-height: 20px;
}

.form-control-feedback {
    z-index: -1;
}

.has-success .form-control-feedback, .has-error .form-control-feedback, .has-warning .form-control-feedback {
    z-index: 2;
}

.list-grid li {
    padding: 5px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

    .list-grid li:last-child {
        border-bottom-width: 0;
    }

.loading {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1032;
}

    .loading img {
        position: absolute;
        width: 43px;
        height: 43px;
        left: 50%;
        top: 50%;
        margin-left: -21.5px;
        margin-top: -21.5px;
    }

.poweredby {
    margin-top: 15px;
}

    .poweredby img {
        /*width: 150px;*/
        width: 90px;
    }

.has-error .input-group-addon.info {
    background-color: rgb(238, 95, 91) !important;
}

.has-error .form-control:not(:first-child):not(:last-child), #txtFrs, #txtVehicles {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.icon, .iconFR {
    /*width: 28px;
    height: 21px;*/
    width: 30px;
    height: 26px;
    display: inline-block;
    /* line-height: 3; */
    margin-bottom: -2px;
}

.iconBig {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: -10px;
}

.icon-default {
    background: url(../images/iconAmbulance.svg) no-repeat;
    background-size: 100%;
}

.icon-warning {
    background: url(../images/ambulance-warning.svg) no-repeat;
    background-size: 100%;
}

.icon-success {
    background: url(../images/iconAmbulanceSucces.svg) no-repeat;
    background-size: 100%;
}

.icon-muted {
    background: url(../images/iconAmbulanceMute.svg) no-repeat;
    background-size: 100%;
    opacity: 0.4;
}

.icon-info {
    background: url(../images/iconAmbulanceInf.svg) no-repeat;
    background-size: 100%;
}

.icon-bike {
    background: url(../images/Bike-warning.svg) no-repeat;
    background-size: 100%;
}
.icon-user {
    background: url(../images/user-warning.svg) no-repeat;
    background-size: 100%;
}

a:hover > div.icon-default {
    background: url(../images/iconAmbulance.svg) no-repeat !important;
    background-size: 100%;
}

div.icon-BikeBlue {
    background: url(../images/iconBikeBlue.svg) no-repeat;
    background-size: 100%;
}

div.icon-userBlue {
    background: url(../images/iconUserBule.svg) no-repeat;
    background-size: 100%;
}

div.icon-ambulanceBlue {
    background: url(../images/iconAmbulanceBlue.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li > a > div.icon-user {
    background: url(../images/iconUserWhite.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li.active > a > div.icon-user, ul.resource-tabs > li.active > a:hover > div.icon-user {
    background: url(../images/iconUser.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li > a > div.icon-ambulance {
    background: url(../images/iconAmbulanceSmallWhite.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li.active > a > div.icon-ambulance, ul.resource-tabs > li.active > a:hover > div.icon-ambulance {
    background: url(../images/iconAmbulanceSmallLightBlue.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li > a > div.icon-bike {
    background: url(../images/iconBikeWhite.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li.active > a > div.icon-bike, ul.resource-tabs > li.active > a:hover > div.icon-bike {
    background: url(../images/Bike.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li > a > div.icon-hospital {
    background: url(../images/iconHospitalWhite.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li.active > a > div.icon-hospital, ul.resource-tabs > li.active > a:hover > div.icon-hospital {
    background: url(../images/iconHospital.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li > a > div.icon-mobile {
    background: url(../images/iconMobileWhite.svg) no-repeat;
    background-size: 100%;
}

ul.resource-tabs > li.active > a > div.icon-mobile, ul.resource-tabs > li.active > a:hover > div.icon-mobile {
    background: url(../images/iconMobile.svg) no-repeat;
    background-size: 100%;
}

.icon-inputgroup {
    width: 18px;
    background-position-y: 4px;
}

.dropdown-menu {
    width: 200px;
}

.form {
    margin-top: 20px;
}


/*New CSS fix as per Original Spec*/
.btn-login {
    background: #225985 !important;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px -2px #666666;
    -moz-box-shadow: 0px 0px -2px #666666;
    box-shadow: 0px 0px -2px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #3498db;
    padding: 5px 30px;
    border: inset 2px #1a5982;
    text-decoration: none;
}

    .btn-login:hover {
        background: #205a86;
        background-image: -webkit-linear-gradient(top, #205a86, #3498db);
        background-image: -moz-linear-gradient(top, #205a86, #3498db);
        background-image: -ms-linear-gradient(top, #205a86, #3498db);
        background-image: -o-linear-gradient(top, #205a86, #3498db);
        background-image: linear-gradient(to bottom, #205a86, #3498db);
        text-decoration: none;
        border: inset 2px #223a4a;
        outline: 0;
    }

    .btn-login:active {
        outline: 0;
    }

.form-control {
    background: url(../images/inputBgPattern.jpg) left center;
    border: 1px solid #1b1b1b;
    font-weight: bold;
    letter-spacing: 0.05em;
}

     select.form-control.emergencyType {
        background: #4a4949 !important;
        color: #fff;
        text-transform: uppercase;
        font-weight: normal;
        /*width:150px;*/
        margin: 0 -2px;
    }

.container-fluid .menu-icon a.btn-menu {
    background: #101010 none repeat scroll 0% 0%;
    color: #e1e2e2;
}

.container-fluid .active .menu-icon a.btn-menu {
    background-image: -webkit-linear-gradient(#8CD5FF, #6bb0d8 60%, #6bb0d8);
    background-image: -o-linear-gradient(#8CD5FF, #6bb0d8 60%, #6bb0d8);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8CD5FF), color-stop(60%, #6bb0d8), to(#6bb0d8));
    background-image: linear-gradient(#8CD5FF, #6bb0d8 60%, #6bb0d8);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8CD5FF', endColorstr='#ff6bb0d8', GradientType=0);
    -webkit-filter: none;
    filter: none;
    color: #0E3E86;
}

@media (min-width: 768px) {
    .col-sm-txtcenter {
        text-align: center;
    }

    .btn-login {
        font-size: 16px;
        padding: 5px 20px;
    }

    .link-underline {
        font-size: 11px;
    }
}

@media (min-width: 992px) {
    .col-md-txtcenter {
        text-align: center;
    }

    .btn-login {
        font-size: 18px;
        padding: 5px 30px;
    }

    .link-underline {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .col-lg-txtcenter {
        text-align: center;
    }

    .btn-login {
        font-size: 18px;
        padding: 5px 30px;
    }

    .link-underline {
        font-size: 12px;
    }
}

.input-group-addon.input-group-left {
    background: #5B7CA8 !important;
    padding: 5px 10px 1px 15px;
    font-size: 20px;
}

.input-group-left, .input-group-right {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.input-group-right {
    border-color: #ccc;
    background: #fff;
    -webkit-box-shadow: inset 0px 1px 4px 1px #929292;
    -moz-box-shadow: inset 0px 1px 4px 1px #929292;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.menu-icon ph-no a {
    color: #fff;
    font-size: 15px;
}

ph-no a {
    font-weight: bold;
}

ph-no.input-blue span.form-control {
    font-weight: bold !important;
    color: #5b7ca8 !important;
}


@media (max-width : 736px) { /* STYLES GO HERE */
    ul.list-group li.list-group-item {
        padding: 5px;
    }

    .menu-icon ph-no a {
        color: #fff;
        font-size: 12px;
    }

    .btn-sm,
    .btn-group-sm > .btn {
        padding: 2px 5px;
        font-size: 11px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-md,
    .btn-group-sm > .btn {
        padding: 5px 5px;
        font-size: 11px;
        line-height: 1.5;
        border-radius: 4px;
    }
.addUserRadioGroup label {		
        margin-left: 0 !important;		
        padding-top: 10px !important;		
    }		
    /*.addUserRadioGroup label span{		
        font-size:8px;		
    }*/		
    .text-xs-right {		
        text-align: right !important;		
    }		
    .text-xs-center {		
        text-align: center !important;		
    }
}

.list-update {
    background: #fff;
}
.list-update li {
    padding:10px !important;
}
.panel-alert {
    border-color: #b71e12;
}



span.dataCenterNo > ph-no > a > i, span.phNoIcon > ph-no > a > i {
    display: none;
}

.panel-latestUpdates > ul.list-update-border {
    border: 1px solid #ffd950;
}
.input-group-equal {
    width:auto;
}

.dataCenterName ul.dropdown-menu {
    height: 150px;
    overflow-y: scroll;
}
.btn-FR {		
    height: 31px;		
    margin-left: 3px;		
    border-radius: 0;		
}		
ul.list-group.ph-list {		
    border-top: 1px solid #ccc;		
    margin-bottom: 0;		
}		
ul.unregisterPartiesList {		
    border: 1px solid #88d4ff;		
}		
    ul.unregisterPartiesList li {		
        border-width: 0;		
        padding: 10px !important;		
    }		
ul.userListingGroup li, ul.dataCenterListGroup li {		
    border-width: 0px;		
}		
    ul.userListingGroup li:last-child {		
        border-bottom: 1px solid #ccc;		
    }		
@media screen and (max-width: 568px) {		
    .btn-link span span {		
        font-size: 10px;		
    }		
    .btn-sm, .btn-group-sm > .btn, .btn-sm span {		
        font-size: 10px;		
    }		
    .panel-heading.whiteListedHeading {		
        padding: 10px 5px;		
    }		
    select.form-control.emergencyType {		
        font-size:9px !important;		
    }		
}		
.iconCircle {		
    background: #333333;		
    width: 3px;		
    height: 3px;		
    border-radius: 50%;		
    text-align: center;		
    /* line-height: 13px; */		
    vertical-align: middle;		
    padding: 3px;		
    float: left;		
    margin: 7px 5px;		
}


   
.blink {
        -webkit-animation: blink .75s linear infinite;
        -moz-animation: blink .75s linear infinite;
        -ms-animation: blink .75s linear infinite;
        -o-animation: blink .75s linear infinite;
        animation: blink .75s linear infinite;
    }
    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        50.01% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @-moz-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        50.01% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @-ms-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        50.01% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @-o-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        50.01% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        50.01% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
   