<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
 <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".yml" mimeType="application/yml" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
         <mimeMap fileExtension=".tab" mimeType="text/plain" />
       
      </staticContent>
   </system.webServer>
</configuration>