<form>
    <div class="panel panel-default marginBottom0">
        <div class="panel-heading beacon-panel"><h4><span translate>v2.new_incident.new_incidents</span></h4></div>
        <div class="panel-body">
            <h1 class="text-center text-uppercase"><strong translate>v2.new_incident.thank_you</strong><span>.</span></h1>
            <h4 class="text-center text-uppercase"><span translate>v2.new_incident.incident_registered</span><span>.</span></h4>
            <p class="text-center">
                <a class="btn btn-primary btn-fullradius text-uppercase" ui-sref="main.incidentDetails({id:vm.id})" ng-click="vm.cancel()" translate>v2.new_incident.view_details</a>
            </p>
            <p class="text-center">
                <a class="btn btn-link text-uppercase" ui-sref="main.dashboard" ng-click="vm.cancel()" translate>v2.new_incident.back</a>
            </p>
        </div>
    </div>

</form>
