
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default panel-grey">
            <div class="panel-heading beacon-panel"><h4 class="pull-left text-uppercase"><strong translate>v2.incidents.recent_incidents</strong></h4><span class="pull-right">
                <a ui-sref="^.newIncident" class="btn btn-sm btn-danger" translate>views.incident.new</a></span>
            <div class="clearfix"></div>
            </div>
            <div class="panel-body" ng-swipe-left="vm.moveNext()" ng-swipe-right="vm.movePrevious()">
                <div class="row ">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h4 class="pull-left"> <span translate>v2.dashboard.active_incidents</span>&nbsp<span class="label label-success">{{vm.activeIncidents.length}}</span></h4>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h4 class="pull-right"> <span translate>v2.dashboard.complete</span>&nbsp<span class="label label-danger">{{vm.archiveIncidents.length}}</span></h4>
                    </div>
                </div>
                <incident ng-if="vm.incident" incident="vm.incident"></incident>
                <div class="btn-actions text-center">
                    <div class="btn-group-sm row" role="group">
                        <div class="col-xs-3"><button type="button" ng-if="vm.current" ng-click="vm.movePrevious()" class="btn-link pull-left"><img src="../../../images/ic_arrow_back_white_24px.svg" /><!--<span class="glyphicon glyphicon-arrow-left"></span> <span translate>v2.dashboard.previous</span>--></button></div>
                        <div class="col-xs-6 text-center"><a ui-sref="^.incidents" class="btn btn-primary btn-fullradius" translate>v2.dashboard.view_all</a></div>
                        <div class="col-xs-3"><button type="button" ng-if="vm.lastIndex && vm.lastIndex > vm.current" ng-click="vm.moveNext()" class="btn-link pull-right"><img src="../../../images/ic_arrow_forward_white_24px.svg" /> <!--<span translate>v2.dashboard.next</span><span class="glyphicon glyphicon-arrow-right"></span>--></button></div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading beacon-panel text-uppercase" ><h4><strong translate>v2.menu.resources</strong></h4></div>
            <div class="panel-body" style="padding:0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs resource-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#user" onclick="return false;" aria-controls="user" role="tab" data-toggle="tab"><div class="icon icon-user"></div><!--<i class="fa fa-user"></i>--></a></li>
                    <li role="presentation"><a href="#bike" onclick="return false;" aria-controls="bike" role="tab" data-toggle="tab"><div class="icon icon-bike"></div><!--<i class="fa fa-motorcycle"></i>--></a></li>
                    <li role="presentation"><a href="#ambulance" onclick="return false;" aria-controls="ambulance" role="tab" data-toggle="tab"><div class="icon icon-ambulance"></div></a></li>
                    <li role="presentation"><a href="#hospital" onclick="return false;" aria-controls="hospital" role="tab" data-toggle="tab"><div class="icon icon-hospital"></div><!--<i class="fa fa-h-square"></i>--></a></li>
                    <li role="presentation"><a href="#phone" onclick="return false;" aria-controls="phone" role="tab" data-toggle="tab"><div class="icon icon-mobile"></div><!--<i class="fa fa-mobile-phone"></i>--></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="user">
                        <h3 class="text-center text-uppercase"><span translate>activerecord.models.first_responder.other</span><span>:</span>&nbsp;<label class="text-blue">{{ vm.availableCountGet(vm.frNotSpecified) }}</label></h3>
                        <first-responder ng-repeat="fr in vm.frNotSpecified | limitTo:5" first-responder="fr" mode="d"></first-responder>
                        <div class="btn-actions text-center">
                            <button class="btn btn-sm btn-primary btn-fullradius" ui-sref="^.firstResponders({id:0})" translate>v2.dashboard.view_all</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="bike"> 
                        <h3 class="text-center text-uppercase"><span translate>activerecord.models.first_responder.other </span><span>:</span>&nbsp;<label class="text-blue">{{ vm.availableCountGet(vm.frWithoutTransport) }}</label></h3>
                        <first-responder ng-repeat="fr in vm.frWithoutTransport | limitTo:5" first-responder="fr" mode="d"></first-responder>
                        <div class="btn-actions text-center">
                            <button class="btn btn-sm btn-primary btn-fullradius" ui-sref="^.firstResponders({id:0})" translate>v2.dashboard.view_all</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="ambulance">
                        <h3 class="text-center text-uppercase"><span translate> activerecord.models.first_responder.other</span><span>:</span>&nbsp;<label class="text-blue">{{ vm.availableCountGet(vm.frWithTransport) }}</label></h3>
                        <first-responder ng-repeat="fr in vm.frWithTransport | limitTo:5" first-responder="fr" mode="d"></first-responder>
                        <div class="btn-actions text-center">
                            <button class="btn btn-sm btn-primary btn-fullradius" ui-sref="^.firstResponders({id:0})" translate>v2.dashboard.view_all</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="hospital">
                        <h3 class="text-center text-uppercase"><span translate>activerecord.models.hospital.other</span><span>:</span>&nbsp;<label class="text-blue">{{ vm.hospitalsList.length }}</label></h3>
                        <div class="row" ng-repeat="hspl in vm.hospitalsList | limitTo: 5">
                            <div class="col-xs-12">
                                <div class="clearfix line-divider">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-12">
                                            <h5 class="margin5"><span class="hidden-xs">{{hspl.name}}<span>:</span></span><strong class="visible-xs">{{hspl.name}} </strong></h5>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 pull-right">
                                            <h6 class="margin5 text-right text-uppercase"><a ui-sref="^.resources({id:hspl.id, resource:'h'})" translate>v2.resources.details</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-actions text-center"><a ui-sref="^.hospitalList({id:0})" class="btn btn-sm btn-primary btn-fullradius" translate>v2.dashboard.view_all</a></div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="phone">
                        <h3 class="text-center text-uppercase"><span translate>activerecord.models.white_listed_phone_number.other</span><span>:</span>&nbsp; <label class="text-blue">{{ vm.dispPhNosList.length }}</label></h3>
                        <div class="row" ng-repeat="disp in vm.dispPhNosList | limitTo: 5">
                            <div class="col-xs-12">
                                <div class="clearfix line-divider">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                            <h5 class="margin5">{{disp.name}}</h5>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8">
                                            <h5 class="margin5">
                                                <ph-no phone-number="disp.phone_number"></ph-no>
                                            </h5>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-4">
                                            <h6 class="margin5 text-right text-uppercase"><a ui-sref="^.resources({id:disp.id, resource:'w'})" translate>v2.resources.details</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-actions text-center"><button ui-sref="^.dispatchPhoneNoList({id:0})" class="btn btn-sm btn-primary btn-fullradius" translate>v2.dashboard.view_all</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-alert">
            <div class="panel-heading beacon-panel text-uppercase"><h4 class="alertTitle"><strong translate>v2.dashboard.alerts</strong></h4></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 clearfix">
                                <h3><span class="label label-primary label-count">826</span></h3>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8 row">
                                <h4><span class="text-uppercase" translate>v2.alerts.alert</span><span>:</span>&nbsp&nbsp<strong class="text-danger">NEED ASSISTANCE</strong> </h4>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 row">
                                <h4 class="text-nowrap"><span>AT 12:34:56</span></h4>
                            </div>
                        </div>
                    <!--</li>
                    <li class="list-group-item clearfix">-->
                        
                            <ph-no class="col-lg-6 col-md-9 col-sm-9 col-xs-9 row input-blue" icon phone-number="'555.555.5555'"></ph-no>

                            <div class="checkbox col-lg-offset-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">
                                <label>
                                    <input type="checkbox"> <span class="text-danger text-uppercase" translate>v2.resources.resolve</span>
                                </label>
                            </div>
                        
                    </li>
                    <li class="list-group-item clearfix">
                        <span class="pull-left">Name:</span>
                        <span class="pull-right"> John Doe</span>
                    </li>
                    <li class="list-group-item clearfix" style="border-bottom-width:1px">
                        <span class="pull-left">Location:</span>
                        <span class="pull-right">100 Main ST, Stamford, CT</span>
                    </li>
                </ul>
                <div class="btn-actions text-center">
                    <div class="btn-group-sm" role="group">
                        <button type="button" class="btn btn-link pull-left"><!--<span class="glyphicon glyphicon-arrow-left"></span> <span translate>v2.dashboard.previous</span>--><img src="../../../images/ic_arrow_back_white_24px.svg" /></button>
                        <button type="button" class="btn btn-primary btn-fullradius" translate>v2.dashboard.view_all</button>
                        <button type="button" class="btn btn-link pull-right"><img src="../../../images/ic_arrow_forward_white_24px.svg" /> <!--<span translate>v2.dashboard.next</span> <span class="glyphicon glyphicon-arrow-right"></span>--></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
