<form>
    <div class="modal-body">
        <h4 class="text-center" translate>v2.incident_cancellation.are_you_sure</h4>
        <div class="form-group">
            <label for="exampleInputEmail1" translate class="text-uppercase">v2.incident_cancellation.reason</label>
            <textarea class="form-control" rows="1" ng-model="vm.reason" style="padding: 5px 5px;"></textarea>            
        </div>
        <p class="text-center">
            <button class="btn btn-primary btn-fullradius" type="button" ng-click="vm.cancel()" translate>v2.incident_cancellation.cancel</button>
            <button class="btn btn-primary btn-fullradius" type="button" ng-click="vm.close()" translate>v2.incident_cancellation.go_back</button>
        </p>
    </div>
</form>