<a ui-sref="main.notificationList" class="text-uppercase" tm-roles="['Admin']">
  <span translate>v2.resources.manage_notification_list</span>
</a>
<a ui-sref="main.hospitalList({id:0})" class="text-uppercase" tm-roles="['Admin','Manager','Dispatcher']">
  <span translate>views.manage_resource_link.hospital</span>
</a>
<a ui-sref="main.dispatchPhoneNoList({id:0})" class="text-uppercase" tm-roles="['Admin','Manager']">
  <span translate>v2.resources.manage_dispatch_numbers</span>
</a>
<a ui-sref="main.unregisteredParties" class="text-uppercase">
  <span translate>activerecord.models.unregistered_party.other</span>
</a>
<a ui-sref="main.categories" class="text-uppercase" tm-roles="['Admin']">
  <span translate>activerecord.models.categories.other</span>
</a>
